<ion-view view-title="Thông tin">

    <ion-content class="padding">
        <div class="card">
            <div class="item item-divider">
                Thông tin ứng dụng
            </div>
            <div class="item item-text-wrap">
                {{aboutInfo.name_value_list.app_info.value}}
            </div>
            <div class="item item-divider">
                Tác giả
            </div>
            <div class="item item-text-wrap">
                {{aboutInfo.name_value_list.author1.value}} <br/>
                {{aboutInfo.name_value_list.author2.value}}
            </div>
            <div class="item item-divider">
                Liên hệ
            </div>
            <div class="item item-text-wrap">
                {{aboutInfo.name_value_list.contact_info.value}}
            </div>
        </div>
    </ion-content>
</ion-view>