<ion-view title="Chi tiết hợp đồng">
    <ion-content class="padding">
        <div class="list">
            <div class="item item-divider">
                <i class="ion-ios-pricetags-outline" style="color:#007AFF"></i> Mã hợp đồng
            </div>
            <p class="item item-text-wrap">{{contract.name.value}}</p>
            <div class="item item-divider">
                <i class="ion-person" style="color:#007AFF"></i> Người đại diện
            </div>
            <p class="item item-text-wrap">{{contract.representative.value}}</p>
            <div class="item item-divider">
                <i class="ion-ios-calendar-outline" style="color:#080"></i> Ngày bắt đầu
            </div>
            <div class="item item-text-wrap">{{contract.start_date.value | moment: 'format': 'DD/MM/YYYY'}}
            </div>
            <div class="item item-divider">
                <i class="ion-ios-calendar-outline" style="color:#FB0E0E"></i> Ngày kết thúc
            </div>
            <div class="item item-text-wrap">{{contract.end_date.value | moment: 'format': 'DD/MM/YYYY'}}
            </div>
            <div class="item item-divider">
                <i class="ion-ios-information-outline" style="color:##3F9E06"></i> Trạng thái
            </div>
            <p class="item" style="margin-bottom: 100px">{{contractOptions[contract.status.value]}}</p>
        </div>
    </ion-content>
</ion-view>