<div class="modal" ng-controller="CreateMeetingCtrl">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Tạo yêu cầu cuộc họp</h1>
        <button class="button button-clear button-primary" ng-click="closeModal()">Đóng</button>
    </ion-header-bar>

    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Tiêu đề" ng-model="meeting.title">
            </label>
            <label class="item item-input">
                <textarea placeholder="Nội dung" ng-model="meeting.content" rows="4"></textarea>
            </label>
            <ionic-datepicker input-obj="datepickerObject">
                <button class="button button-block button-light icon-right icon ion-calendar" style="text-align:left; font-size:11px; padding-left:15px;">{{datepickerObject.inputDate | date: 'dd/MM/yyyy'}}</button>
            </ionic-datepicker>
            <label class="item item-input">
                <input type="text" placeholder="Địa điểm" ng-model="meeting.location">
            </label>
        </div>
        <button class="button icon icon-right ion-arrow-right-c button-balanced button-block" ng-click="send(meeting)">Gửi</button>
    </ion-content>
</div>