<ion-view title="Chi tiết cuộc gọi">
    <ion-content class="padding">
        <div class="list">
            <div class="item item-divider">
                <i class="ion-ios-pricetags-outline" style="color:#007AFF"></i> Tiều đề
            </div>
            <p class="item item-text-wrap">{{call.name.value}}</p>
            <div class="item item-divider">
                <i class="ion-clock" style="color:#03A14D"></i> Thời gian
            </div>
            <p class="item">{{call.date_start.value | moment: 'format': 'DD/MM/YYYY h:mm:ss a'}}</p>
            <div class="item item-divider">
                <i class="ion-ios-paper-outline" style="color:#0E76BD"></i> Nội dung
            </div>
            <p class="item item-text-wrap">{{call.description.value}}</p>
            <div class="item item-divider">
                <i class="ion-ios-information-outline" style="color:##3F9E06"></i> Trạng thái
            </div>
            <p class="item">{{callStatusOptionsInDetail[call.status.value]}}</p>
        </div>
    </ion-content>
</ion-view>